<section class="section pb-0">
  <nav class="level">
    <div class="level-left">
      <p class="level-item">
        <%= navigation_link_to 'Pessoas', people_path %>
      </p>
      <p class="level-item">
        <%= navigation_link_to 'Veículos', vehicles_path %>
      </p>
      <p class="level-item">
        <%= navigation_link_to 'Transferências', transfers_path %>
      </p>
    </div>
  </nav>
</section>
