<section class="section pb-0">
  <nav class="level">
    <div class="level-left">
      <p class="level-item">
        <%= navigation_link_to 'Pessoas', people_path %>
      </p>
      <p class="level-item">
        <%= navigation_link_to 'Usuários', '#' %>
      </p>
      <p class="level-item">
        <%= navigation_link_to 'Veículos', '#' %>
      </p>
      <p class="level-item">
        <%= navigation_link_to 'Transferências', '#' %>
      </p>
    </div>

    <div class="level-right">
    </div>
  </nav>
</section>
